
.row-3-thumbs li {
width:11.9%;
}

.row-4-thumbs li {
width:24.6%;
}


li.cat_pic strong {
float:left;
font-size:20px;
font-weight:bold;
padding:0 0 0 5px;
}

div.bookCategories {
position:relative;
width:75%;
}


ul.books {
margin-left:10%;
}


ul.books li {
display:inline-block;
vertical-align:top;
}

#catText{
float:left;
}

#catText ul {
	padding: 10px 0 8px 0;
	margin: 0;
}

#catText ul li{
	padding: 0 0 3px 30px;	
	list-style: none;
}

#catText ul li a{
	font-weight: normal;
	text-decoration: none;
	color: #166547;
}

#catPics{
float:right;
margin-right:10%;
}
