@font-face {
    font-family: websiteFont;
    src: url(../fonts/DAYROAM.ttf);
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: websiteFont;
	font-size: 14px;
/*	background: url(../images/background.png) no-repeat; */
	background:#ffffdd
}

a:link, a:visited { color: #e6e154; text-decoration: none; font-weight: bold;} 
a:active, a:hover { color: #e6e154; text-decoration: underline;}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: 0px;
	padding: 5px;
	border: none;
}


.cleaner {
	clear: both;
	width: 100%;
	height: 1px;
	font-size: 1px;	
}

.cleaner_with_height {
	clear: both;
	width: 100%;
	height: 30px;
	font-size: 1px;	
}

.cleaner_with_width {
	float: left;
	width: 20px;
	height: 30px;
	font-size: 1px;	
}

.buy_now_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_02.jpg) no-repeat;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}

.detail_button a{
	clear: both;
	text-align: center;
	display: block;
	width: 100px;
	padding: 4px 0 5px 0;
	margin-bottom: 10px; 
	background: url(../images/templatemo_btn_01.jpg) no-repeat;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}


			/* HEADER START */
#header {
	height: 100px;
	background: url(../images/header.jpg);
	
}

#logo {
	float: left; 
	display: inline; 
	margin-left: -4px;  
	position: relative;
	left: 15px;
	top:10px;
}

#sitename{
	font-size:70px;
	display:inline;
	position:relative;
	top: 30px;
	left: 50px;
	}
#sitename a:hover{
text-decoration: none;
}
				/*HEADER END*/
					
				/* SEARCH BOX START*/

#search_box{
    position:relative;
	background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #d4e8ec);
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;            
    width: 90%;
	margin-left:5%;
	height: 35px;
    overflow: hidden; /* Clear floats */
}

#search

#submit {
    float: right;
}

#search {
	padding:10px 10px 10px 10px;
    height: 13px;
	margin-left:10px;
    width: 87%;
	border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#submit{       
    float:right;
	margin-top:5px;
	margin-right:5px;
	background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 
                0 1px 0 rgba(255, 255, 255, 0.3) inset;
    height: 25px;
    width: 9%;
    cursor: pointer;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

#submit:hover {       
    background-color: #95d788;
    background-image: linear-gradient(#6cbb6b, #95d788);
}   

#submit:active {       
    background: #95d788;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;        
}

#submit::-moz-focus-inner {
       border: 0;  /* Small centering fix for Firefox */
}

			/* SEARCH BOX END */

		
		/* MENU START */

#main_menu {
	clear: both;
	height: 45px;
	background: url(../images/main_menu_bg.jpg);
	position:relative;
	top:-14px;
	
}

#main_menu ul {
	list-style: none;
	padding: 10px 20px 20px 20px;
	margin-left:22%;

}

#main_menu ul li{
display:inline;
	}

#main_menu ul li a{
	padding: 20px 20px 20px 20px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: #969547;
}

#main_menu li a:hover, #main_menu li .current{
	color: #fcf88e;
}

		/* MENU END*/
