
#main_menu
{
    background-color: #036;
    height: 50px;
    clear:both;
    text-align:center;/*For IE5 or IE No DOCTYPE*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
        
#main_menu_2
{
    margin: 0 29%;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    border-left:solid 1px #0AE;
}
        
#main_menu_2 ul
{
    font: normal 13px Arial;
    list-style-type: none;
    float:left;
    padding:0;margin:0;
}
        
#main_menu_2 li
{
    background: url(../images/mb3_2_1.png);
    line-height: 50px;
    position: relative;
    overflow: hidden;/*used to hide slip*/
    z-index: 0;
    float:left;
    list-style-type: none;
    padding:0;margin:0;
    border-right:solid 1px #0AE;
}
        
#main_menu_2 li.current, #main_menu_2 .slip
{
    background-color: #006396;
}
        
#main_menu_2 li a
{
    text-align: center;
    text-decoration: none;
    padding: 0 30px;/*30px is used to adjust the distance between each menu item. Now the distance is 30+30=60px.*/
    /*width: 100px;*/ /*If you prefer a fixed width, uncomment this line and comment out above line*/
    color: white;
    display: block;
    z-index: 2;
    white-space:nowrap;
}
        
#main_menu_2 li.current a
{
    color: #ffff99;
}
        
#main_menu_2 .slip
{
    position: absolute;
    top: 0;
    z-index: -1;
}