a, a:before, a:after  {
	color: #999;
	text-decoration: none;
	outline: 0;
}

a:hover, a:focus {
	color: #666; 
	text-decoration: none; 
	outline: 0;
}

			/* FOR FIRST WAY*/
			
img{
padding-left: 60px;
width:400px;
}

div.flip-3d {
perspective: 1200px; width: 30%; float: left;
 margin-top: 100px;
margin-left:11%;
}

div.flip-3d figure {
position: relative;
transform-style: preserve-3d;
transition: 1s transform;
font-size: 1.6rem;
}

div.flip-3d figure img {
width: 400px; height: auto;
}

div.flip-3d figure figcaption {
position: absolute;
width: 100%; height: 100%; top: 0;
transform: rotateY(.5turn) translateZ(1px);
background: rgba(255,255,255,0.9);
text-align: center;
padding-top: 15%;
opacity: 0.6;
transition: 1s .5s opacity;
}

div.flip-3d:hover figure { transform: rotateY(.5turn); }
div.flip-3d:hover figure figcaption { opacity: 1; }

div.flip-3d figure:after {
content: " "; display: block;
height: 10vw; width: 100%;
transform: rotateX(90deg);
background-image: radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%); 
}



				/* FOR SECOND WAY*/
			
#Way2{
padding-top:20%;
margin:10%;
}			

.booksBackground {
	margin-left:5%;
    background: url(../img/books.png) no-repeat;
	max-height:300px;
	max-width:400px;
    border: 2px solid black;
}

.magsBackground {
    margin-left:15%;
	background: url(../img/mags.jpg) no-repeat;
	max-height:300px;
	max-width:400px;
	border: 2px solid black;
}

.booksTransbox, .magsTransbox  {
	width: 400px;
	margin-top:240px;
    height: 60px;
	margin-left:-5%;
	background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
}

.booksTransbox h2 {
    font-weight: bold;
    color: #000000;
	text-align: center;	
}

.magsTransbox h2 {
    font-weight: bold;
    color: #000000;
	text-align: center;
}


